<a href="https://colab.research.google.com/github/denizbaris/Statistics/blob/main/Statistics_Session_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from scipy import stats
import pandas as pd

In [3]:
x = [91.50, 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21, 89.19, 90.95, 90.46, 93.21, 97.19, 97.04, 91.07, 92.75]
group = [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2]
df = pd.DataFrame({"yield":x, "group":group})
df

    yield  group
0   91.50      1
1   94.18      1
2   92.18      1
3   95.39      1
4   91.79      1
5   89.07      1
6   94.72      1
7   89.21      1
8   89.19      2
9   90.95      2
10  90.46      2
11  93.21      2
12  97.19      2
13  97.04      2
14  91.07      2
15  92.75      2

In [ ]:
df[df.group == 1]["yield"]

In [4]:
stats.ttest_ind(df[df.group == 1]["yield"], df[df.group == 2]["yield"])

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

In [17]:
indTest = stats.ttest_ind_from_stats(mean1 = 92.255, std1 = 2.39, nobs1= 8,
                           mean2 = 92.733, std2 = 2.98, nobs2 = 8,)
indTest

Ttest_indResult(statistic=-0.353922390875553, pvalue=0.7286705530970293)

In [8]:
indTest.pvalue

0.7286705530970293

In [9]:
#DECISION
alpha = 0.05

if indTest.pvalue < alpha :
  print("Reject the Null")
else:
  print("Fail to reject")

Fail to reject

Iki grup var dependent degil

In [15]:
indTest1 = stats.ttest_ind_from_stats(mean1 = 10.67, std1= 3.895, nobs1= 500,
                           mean2 = 7.83, std2= 4.224, nobs2= 400,)
indTest1

Ttest_indResult(statistic=10.4676374161062, pvalue=2.8400233039750524e-24)

##Dependent T Test

scipy.stats.ttest_rel(a, b, axis=0, nan_policy='propagate', alternative='two-sided')

##One-way Anova

ulasacagimiz test istatistigi f istatistigi
f (gruplar arasi varyansi grup icine oranlama istatistigi) degeri ve p degeri hesaplayacagim

3 farkli birbirinden bagimsiz orneklemlerde uyggulanabilir
3 new drugs are all as effective as a placebo